@model IEnumerable<AdminMVC.Models.Kund>

@{
    ViewBag.Title = "GetKund";
}

<h2>GetKund</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fornamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efternamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bonuspoang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InloggningsId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fornamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Efternamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bonuspoang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InloggningsId)
        </td>
        <td>
            @Html.ActionLink("Redigera", "PutKund", new { id = item.InloggningsId }) |
            @Html.ActionLink("Ta bort", "DeleteKund", new { id = item.InloggningsId })
        </td>
    </tr>
}

</table>
